.navbar {
  background-color: #9BB4EC;
}

.active {
  background-color: #c1d5ff;
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.button1 {
  border-radius: 10px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.progress-bar {
  border: 0;
  border-radius: 9px;
  width: 0;
  font-size: 1.15rem;

}

.progress-incomplete {background-color: #9BB4EC;}

.progress-complete {background-color: #BCC99B;}
